img{
    width: 500px;
    padding-right: 20px;
    padding-top: 20px;
}

.temperament{
    font-weight: bold;
}



.cat-info{
    display: flex;

}

.text-info{
    width: 500px;
}

.breed-select{
    text-align: left;
}

.breed-select-hidden{
    display: none;
}

.error{
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.error-hidden{
    display: none;
}

.loader{
    font-weight: bold;
    font-size: 16px;
}

.loader-hidden{
    display: none;
}

.loaderSpiner {
    width: 500px;
    height: 16px;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 4px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    font-size: 30px;
    background-size: 1em 1em;
    box-sizing: border-box;
    animation: barStripe 1s linear infinite;
  }
  
  @keyframes barStripe {
    0% {
      background-position: 1em 0;
    }
    100% {
      background-position: 0 0;
    }
  }
 